.page-template-type1 {
    height: inherit;
}


.header-wrap {
    padding: 1rem;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.15)
}

.header-wrap .title {
    margin-left: 14.13rem;
    font-size: 2rem;
    font-weight: 700
}