.page {
 display: flex;
 flex-direction: column;
}
/* 작품목록 */
.page .prd-wrap {
    
}

.page .prd-bast-wrap .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.page .prd-bast-wrap .item1{
    background-color: #dddfe6;
    width: 60%;
    height: 20rem;
    margin: 0.1rem;
}

.page .prd-bast-wrap .item2{
    background-color: #dddfe6;
    width: 38%;
    height: 20rem;
    margin: 0.1rem;
}

.page .prd-bast-wrap .item3{
    background-color: #dddfe6;
    width: 38%;
    height: 20rem;
    margin: 0.1rem;
}

.page .prd-bast-wrap .item4{
    background-color: #dddfe6;
    width: 60%;
    height: 20rem;
    margin: 0.1rem;
}

.page .prd-wrap .list{
    display: flex;
    flex-wrap: wrap;
}

.page .prd-wrap .item{
    background-color: #dddfe6;
    width: 24rem;
    height: 20rem;
    margin: 0.5rem;
}